.flex {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.user-info-box{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background: rgba(217, 215, 215, 0.61);
    margin: 1px;
    border-radius: 2px;
}

.user-info-box:hover {
    background: rgba(77, 135, 243, 0.77);
}

.titles-box{
    width: 20%;
    margin: 5px;
}

.item-delete {
    cursor: pointer;
    font-size: 22px;
    color: red;
    margin-right: 2px;
}

.item-delete:hover {color: darkred}
